* {
    font-family: 'Architects Daughter', cursive;
}

body {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 5vh;
}

#color-options {
    width: 30vw;
    min-width: 260px;
    height: auto;

    margin: auto;
    margin-bottom: 10px;
}

#color-option-buttons {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
}

button {
    width: 100px;

    border-width: 1px;
    border-style: dashed;

    outline: none;
}

button:hover {
    background-color: rgb(200, 172, 199);
}

button:active {

    border-width: 1px;
    border-style: dashed;
    transform: scale(0.9);
}

#container {
    border: solid;
    border-color: #aaaaaa;
    border-width: 5px;

    width: 30vw;
    height: 30vw;

    margin: auto;
}

#viewport {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;

    align-content: flex-start;
}

.unused {
    position: absolute;
    left: -100000px;
}

/* Very basic mobile css */
@media only screen and (max-width: 700px) and (max-height: 900px) {
    h1 {
        margin-top: 25vh;
    }

    #container {
        width: 60vw;
        height: 60vw;
    }
}